{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-transform-modules-commonjs"],
    [
      "module-resolver",
      {
        "baseUrl": ["."],
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}
